.localisationContainer{
  color: #121e1f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 70px);
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.localisation{
  min-width: 50%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: left;
  flex-flow: column;
  max-width: 500px;
}
.search{
  position: relative;
  width: 100%;
}
.input{
  width: 70%;
  height: 40px;
  padding: 0 11px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border: 0;
  outline: 1px solid rgba(149, 149, 149, 0.4196078431372549);}

.searchButton{
  height: 40px;
  border: 2px solid #00D9C1;
  background: #00D9C1;
  vertical-align: top;
  text-align: center;
  color: white;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  width: 30%;
  margin: 0;
  padding: 0;
  outline: 1px solid #00D9C1;
}

.searchButton:active,
.input:active{
  outline: none;
}

.foodIcon{
  font-size: 19px;
  color: #00D9C1;
}


h1{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 5vw;
}
