.checkoutButton{
  position: absolute;
  top:0;
  right: 30px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #00D9C1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5px;
}