.checkoutButton{
  position: absolute;
  top:0;
  right: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: lightgreen;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5px;
}