@import '../node_modules/reset-css/reset.css';

body{
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #595959;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
h1{
    font-style: normal;
    font-weight: 700;
    line-height: 1.5em;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
p{
    margin-top: 10px;
    font-size: 1vh;
    letter-spacing: 1px
}
a{
    text-decoration: none;
}
@media screen and (min-width: 1200px) {
    h1{
        font-size: 30px;
    }
}
